body{
  background-color: ghostwhite;
  margin: 0;
justify-items: center;

}


.logo{
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  width: 3rem;
}


footer {
  margin-top: 5rem;
  padding-bottom: 1rem;
  text-align: center;
}

.footer-icon a {
  font-size: 1.5rem;
  margin: 0 0.3rem;
  color: #264653;
}


.my-card {
  position: relative; 
}

.card {
  position: relative; }

.card p {
  flex-grow: 1;
  margin-bottom: 0;
}



.boton {
  position: absolute;
  bottom: 0; 
}